<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="XmlText field type unit tests">
            <directory suffix="Test.php">./tests/bundle/</directory>
            <directory suffix="Test.php">./tests/lib/</directory>
            <exclude>./tests/lib/XmlTextAPIIntegrationTest.php</exclude>
            <exclude>./tests/lib/XmlTextSPIIntegrationTest.php</exclude>
            <exclude>./tests/lib/FieldType/Persistence/Legacy</exclude>
        </testsuite>
        <testsuite name="XmlText field type eZ Platform Repository SPI integration test suite">
            <file>./tests/lib/XmlTextSPIIntegrationTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./bundle</directory>
            <directory>./lib</directory>
            <directory>./vendor</directory>
        </whitelist>
    </filter>
</phpunit>
